
<div class="container">

    <div class="card">

        <h1>Provide the Credentials</h1>
        <mat-form-field class ="field" appearance="fill">
            <mat-label>Enter your UserName</mat-label>
            <input matInput>
        </mat-form-field>

        <mat-form-field class ="field" appearance="fill">
            <mat-label>Enter your Password</mat-label>
            <input matInput>
        </mat-form-field>

          <a routerLink = "/emppage"  mat-raised-button color= "basic"> Submit</a>
    </div>

</div>
