<div class="container">

    <div class="card">
        <form #loginform="ngForm" (ngSubmit)="saveCustomer()">
            <h1>Customer Onboarding Details</h1>
            <mat-form-field class="field" appearance="fill">
                <mat-label>Customer Name</mat-label>
                <input matInput [(ngModel)]="customer.name" name="name">
            </mat-form-field>

            <mat-form-field class="field" appearance="fill">
                <mat-label>Date of Birth</mat-label>
                <input matInput [(ngModel)]="customer.dob" name="dob">
            </mat-form-field>

            <mat-form-field class="field" appearance="fill">
                <mat-label>PANCard Number</mat-label>
                <input matInput [(ngModel)]="customer.panNumber" name="panNumber">
            </mat-form-field>

            <mat-form-field class="field" appearance="fill">
                <mat-label>AADHAAR Number</mat-label>
                <input matInput [(ngModel)]="customer.aadharNumber" name="aadharNumber">
            </mat-form-field>

            <!-- <mat-form-field class="field" appearance="fill">
                <mat-label>Customer Id</mat-label>
                <input matInput>
            </mat-form-field> -->

        <button type="submit" mat-stroked-button color="accent">Save Details</button>
        </form>
        <small class="text-danger">{{msg}}</small>
    </div>
</div>